# Beispiele f√ºr Aktionen

In [1]:
from pyspark import SparkContext
sc = SparkContext("local", "Simple App")

sc

In [3]:
names1 = sc.parallelize(["abe", "abby", "apple"])

names1.reduce(lambda t1, t2: t1+t2)

'abeabbyapple'

In [7]:
names2 = sc.parallelize(["apple", "beatty", "beatrice"]).map(lambda a: [a, len(a)])

names2.collect()

[['apple', 5], ['beatty', 6], ['beatrice', 8]]

In [36]:
names2.flatMap(lambda t: [t[1]]).reduce(lambda t1, t2: t1+t2)

19

In [38]:
sc.parallelize([1,2,3]).flatMap(lambda x: [x,x,x]).collect()

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [41]:
names1 = sc.parallelize(["abe", "abby", "apple"])
names1.count()

3

In [43]:
names1.first()

'abe'

In [46]:
names1.take(2)

['abe', 'abby']

In [50]:
teams = sc.parallelize(("twins", "brewers", "cubs", "white sox", "indians", "bad news bears"))
teams.takeSample(True, 3)

['brewers', 'brewers', 'twins']

In [53]:
hockeyTeams = sc.parallelize(("wild", "blackhawks", "red wings", "wild", "oilers", "whalers", "jets", "wild"))
hockeyTeams.map(lambda k: (k,1)).countByKey().items()

[('red wings', 1),
 ('oilers', 1),
 ('blackhawks', 1),
 ('jets', 1),
 ('wild', 3),
 ('whalers', 1)]

In [54]:
hockeyTeams.saveAsTextFile("hockey_teams.txt")